# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# PyInstaller
*.spec

# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables files
.env

# Node modules (אם יש)
node_modules/

# Build artifacts
build/
dist/
